h1 {
  text-align: center;
  color: yellowgreen;
  box-shadow: 0px 0px 5px 3px pink;
  height: 5%;
  width: 40%;
  padding: 5%;
  margin: 3% auto 2px auto;
}
.ContactsCard {
  width: 500px;
  font-family: sans-serif;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
}
.ContactsCard img {
  border-radius: 100%;
  border: #fff solid 3px;
  width: 25%;
  margin-left: 65%;
  margin-top: -5%;
  z-index: 1;
}
.ContactsCard h5 {
  text-decoration-line: #1eff;
  color: rgb(238, 232, 232);
}
.top {
  background-color: #00cec9;
  width: 100%;
  height: 150px;
  border-radius: 10px 10px 0 0;
  padding: 5%;
  margin-bottom: -20px;
}
.bottom {
  background-color: #1eff;
  width: 100%;
  height: 150px;
  padding: 5%;
  border-radius: 0 0 10px 10px;
}
